/* Controls the body */

body {
    font-size: 18px;
    margin: 0 auto;
    line-height: 34px;
    background-color: rgb(224, 224, 224);
    font-family: 'Source Sans Pro', sans-serif;

}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1  {
    margin-bottom: 20px;
    color: rgb(114, 190, 216);
}

/* Controls main body areas */

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
}

.main-section {
    float: left;
    width: 100%;
    max-width: 920px;
    padding: 30px;
    overflow: auto;
}

.Questions {
    background-color: white;

}

/* Form control */

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label, input[type=text], input[type=email], textarea {
    display: block;
    width: 100%
}

input[type=text], input[type=email], textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid black;
}

textarea {
    height: 200px;
}

/* Services section */
ul {
    list-style: none;
}

.fadeIn-left {
    left: 20%;
}

.service-list {
    padding: 0.5em 1em 1em 1em;
}

.service {
    padding: 1em;
}

#service-title {

    display: block;
}

.content {
    position: relative;
    margin: auto;
    overflow: hidden;
    max-width: 250px;
}

.content .content-overlay {
    background: rgba(6, 26, 62, 0.53);
    position: absolute;
    height: 100%;
    max-width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

h2,
p {
    font-family: 'Montserrat Subrayada', sans-serif;
}

h5 {
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 0.15em;
    margin-bottom: 2.25em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    font-family: 'Muli', sans-serif;

}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-left {
    left: 10%;
}
