/* Controls header */
header {
    padding-left: 20px;
    height: 70px;
    background: #ffffff;
  }

  #top {
    height: 30px;
    background-color: #1b75bc;
    color: white;
    line-height: 30px;
    padding-left: 20px;
    border-bottom: 10px white;
  }
  
  #white10px {
    width: auto;
    height: 10px;
    background-color: white;
  }

  a {
    text-decoration: none;
  }

  #my_name {
    text-align: center;
    color: white;
    float: left;
    height: 70px;
    line-height: 70px;
  }

/* Controls navigation */
.nav {
    float: right;
  }
  
  .nav ul {
    height: 70px;
    line-height: 70px;
  }
  
  .nav li {
    display: inline-block;
    width: 70px;
    height: 15px;
    line-height:15px;
    text-align: center;
  }
  
  .nav a {
    color: #666666;
  }
  
  .nav a:hover {
    color: #1b75bc;
  }

/* Controls the body */

body {
    font-size: 18px;
    margin: 0 auto;
    line-height: 34px;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;

}

.clearfix {
    overflow: auto;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container  {
    max-width: 960px;
    margin: 0 auto;
}

h1  {
    color: rgb(114, 190, 216);
    border-bottom: 2px solid rgb(224, 224, 224);
}

h2 {
    font-size: 22px;
    color: #1b75bc;
    font-weight: bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #dddddd;
    margin: 1em 0;
    padding: 0; 
}

/* Controls main body areas */

.main_box {
    margin-top: 20px;
    background-color: white;
    padding: 30px;
    height:  auto; 
  }

#main-container {
    padding-top: 30px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    background-color: white;
}

.main-section {
    float: left;
    width: 100%;
    max-width: 920px;
    padding: 30px;
    overflow: auto;
}

#QandA {
    background-color: white;
    width: 100%;
    max-width: 97%;
    margin: 30px auto;
    clear: both;
    padding: 50px;
}

.question {
    background-color: rgb(224, 224, 224); 
    margin: 0;   
}

.answer {
    border: 2px solid rgb(224, 224, 224);
    margin: 0;

}

p {
    margin: 0;
    padding: 5px;
}
/* Form control */

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label, input[type=text], input[type=email], textarea {
    display: block;
    width: 100%
}

input[type=text], input[type=email], textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid black;
}

input[type=submit] {
    width: 100px;
    background-color: #1b75bc;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1b4f97;
}

textarea {
    height: 200px;
}

/* Controls footer */

footer {
    font-size: 10px;
    position: fixed;
    width: 100%;
    margin: auto;
    bottom: 0;
    left: 0;
    border-top: 3px solid #1b75bc;
    background-color:#1b75bc;
    color: white;
    line-height: 3px;
    padding: 5px;
    text-align: center;  
  }

  /* Media control */
  @media only screen and (max-width: 640px) {
    #my_name {
      width: 100%;
      clear: right;
    }

    .nav {
      width: 100%;
      float: left;
      text-align: center;
      border-bottom: solid 1px #dddddd;
      background-color: white;
    }

    .main_box img {
      width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .main_box img {
      width: 45%;
    }

    #my_name {
      text-align: center;
      color: white;
      float: left;
      height: 70px;
      line-height: 70px;
    }

    .nav {
      float: right;
    }
}

/* Controls services page overlay. */

ul {
    list-style: none;
  }
  
  .fadeIn-left {
    left: 20%;
  }
  
  .service-list {
    padding: 0.5em 1em 1em 1em;
  }
  
  .service {
    padding: 1em;
  }
  
  #service-title {
  
    display: block;
  }
  
  .content {
    position: relative;
    margin: auto;
    overflow: hidden;
    max-width: 250px;
  }
  
  .content .content-overlay {
    background: rgba(6, 26, 62, 0.53);
    position: absolute;
    height: 100%;
    max-width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay {
    opacity: 1;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .service h2, p {
    font-family: 'Montserrat Subrayada', sans-serif;
  }
  
.service h5 {
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 0.15em;
    margin-bottom: 2.25em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    font-family: 'Muli', sans-serif;  
  }
  
  .content-details p {
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-left {
    left: 10%;
  }